<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>volume_fitness_tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>volume_fitness_tracker_watch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F24E3C02D25D0DF0030885E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F24E3D02D25D0E10030885E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F24E3DA2D25D0E10030885E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4076FB2D2D8DB0005F9099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
